#topBar {
  background-color: #292929;
  position: absolute;
  top: 0;
  height: 10%;
  width: 100%;
  left: 0;
  border:solid #808080;
}

#LogIn {
  position: absolute;
  right: 1%;
  top: 15%;
  background-color: blueviolet;
  border: solid 2px;
  border-radius: 8px;
  height: 70%;
  width: 10%;
}

body {
  background-color: #171717;
}