body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#topbar {
    display: flex;
    background-color: #242424;
    width: 100%;
    padding: 20px;
    justify-content: flex-start;
}

#Title {
    font-family: "Emblema One", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-decoration: unset;
    border: none;
    text-decoration-color: transparent;
    padding-left: 3dvh;
}

#Title:hover {
    text-decoration: underline;
}

#coolmiddle {
    display: flex;
    justify-content: center;
    color: white;

    width: 100%;
    flex-grow: 1;
}

.glow {
    text-shadow:
        0 0 7px #ffffff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #4b4b4b,
        0 0 82px #4b4b4b,
        0 0 92px #4b4b4b,
        0 0 102px #4b4b4b,
        0 0 151px #4b4b4b;
        color:white;
}
#tools {
    justify-self: flex-start;
    flex-grow:4;
}