#topBar {
  background-color: #292929;
  position: absolute;
  top: 0;
  height: 10%;
  width: 100%;
  left: 0;
  border-bottom:solid 2px #808080;
}

#Signup {
  position: absolute;
  right: 1%;
  top: 15%;
  border: solid #b0b0b0 2px;
  border-radius: 10%;
  height: 70%;
  width: 10%;
}

body {
  background-color: #171717;
}
#BrandName {
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20%;
    color:white;
    position:absolute;
    left:5% 
  }