header {
  display: flex;
  background-color: #171717;
  height: 10%;
  width: 100%;
  border-bottom: solid 2px #808080;
  align-self: flex-start;
  position: absolute;
  top: 0;
  left: 0;
}


body {
  background-image: url(Website\ Picture.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-content: center;
}

#Logo {
  height: 200%;
  position: absolute;
}