/* General reset and styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.logo img {
  height: 40px;
}

.navbar {
  display: flex;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-left: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
}

.menu a:hover {
  background-color: #555;
  border-radius: 4px;
}

/* Dropdown styles */
.dropdown {
  display: none;
}

.dropdown-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #333;
  border-radius: 4px;
  top: 50px;
  right: 20px;
  list-style: none;
  padding: 10px 0;
}

.dropdown-menu li {
  padding: 10px 20px;
}

.dropdown-menu li a {
  color: white;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  background-color: #555;
}


@media (max-width: 768px) {
  .navbar .menu {
    display: none;
  }

  .dropdown {
    display: block;
  }

  .dropdown-btn {
    display: block;
  }

  .dropdown.active .dropdown-menu {
    display: block;
  }

}
